<table class="bill-list">
  <tr class="bill-list-header">
    <th>N°</th>
    <th>Date</th>
    <th>Nom du client</th>
    <th>Actions</th>
  </tr>
  <tr class="bill-list-data" ng-repeat="bill in $ctrl.billList track by $index">
    <td>{{bill.data.number}}</td>
    <td>{{bill.data.date | date:'dd/MM/yy'}}</td>
    <td>{{bill.data.customerName}}</td>
    <td>
      <!--<a ng-href="http://localhost:8089/api/files/{{bill.data.number}}" download="{{bill.data.number}}_{{bill.data.number}}.docx">
      -->

      <a ng-href="https://bill-api.herokuapp.com/api/files/{{bill.data.number}}" download="{{bill.data.number}}_{{bill.data.number}}.docx">
      <span class="action-button item-icon icon-download2"></span>
      </a>
      <span ng-click="$ctrl.edit({bill:bill})" class="action-button item-icon icon-pencil2"></span>


  </tr>
</table>
