<table class="bill-list">
  <tr class="bill-list-header">
    <th>N°</th>
    <th>Date</th>
    <th>Nom du client</th>
    <th></th>
  </tr>
  <tr class="bill-list-data" ng-repeat="bill in $ctrl.billList track by $index">
    <td ng-click="$ctrl.edit({bill:bill})">{{bill.data.number}}</td>
    <td ng-click="$ctrl.edit({bill:bill})">{{bill.data.date | date:'dd/MM/yy'}}</td>
    <td ng-click="$ctrl.edit({bill:bill})">{{bill.data.customerName}}</td>
    <td>
      <span  ng-click='$ctrl.print({bill:bill})' class="action-button item-icon icon-download2"></span>
      </a>
      <span class="is-paid-icon item-icon" ng-class="{'icon-star-empty':!bill.data.isPaid, 'icon-star-full':bill.data.isPaid}"></span>
    </td>
  </tr>
</table>
