bill-list{

  .bill-list{
    margin-top:1rem;
    width: 100%;
    border-collapse : collapse;
    th{
      background-color: $green-fox;
      color: $white-spirit;
      font-size: 1.3rem;
      padding: 0.2rem;
      text-align: center;
      border: none;
    }
    td{
      padding: 0;
       border-right: none;
       border-left: 0;
      text-align: center
    }

    tr{
      &:hover{
        opacity: .7;
      }
      cursor:pointer;
      &:first-child{
        &:hover{
          opacity: 1;
        }
        cursor:default;
        height: 2rem;
      }
      height: 4rem;
      border-bottom: 3px solid $white-forit;
      background-color: $white-spirit;
    }
    .action-button{
      margin:0 0.2rem;
      color: $green-fox;
      display: inline-block;
      font-size: 2.6rem;
    }
  }
}
