<div class="container">
  <h1>Liste des devis</h1>
  <button ng-click="$ctrl.newQuotation()">Ajouter un devis</button>
  <chooser choices="$ctrl.searchCriterias" select-change="$ctrl.searchCriteriaChange(choice)"></chooser>
  <div class="criteria-input">
    <input ng-if="$ctrl.searchCriteria.value ==='date'" type="month" ng-change="$ctrl.changeMonth($ctrl.selectedMonth)" ng-model="$ctrl.selectedMonth"
    />
    <input ng-if="$ctrl.searchCriteria.value ==='customerName'" type="text" placeholder="Recherche par nom" ng-change="$ctrl.findByCustomer($ctrl.customerFind)"
      ng-model="$ctrl.customerFind" />
  </div>
  <bill-list bill-list='$ctrl.billList' edit="$ctrl.editQuotation(bill)" print="$ctrl.print(bill)"></bill-list>
</div>
